.vscode
./*/.vscode
./*/*/.vscode
./*/*/*/.vscode
./*/*/*/*/.vscode

.idea
./*/.idea
./*/*/.idea
./*/*/*/.idea
./*/*/*/*/.idea

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store

build/
*/build/
*/*/build/
*/*/*/build/
*/*/*/*/build/

